{
  "openapi": "3.0.1",
  "servers": [
    { 
      "url": "https://api.electrification.ability.abb/buildings/openbos/apiproxy/v1/{gwid}",
      "description":"Cloud endpoint",
      "variables":{
        "gwid":{
          "default":"demonstrationEdge1",
          "description": "Unique identifier of the SmartEdge"
        }
      }
    }
  ],
  "info": {
    "title": "Ontology API",
    "version": "v1"
  },
  "paths": {
    "/api/v1/ontology/alarmhistorics": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "description": "If true or absent alarms sorted with ascending order else descending",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/alarmhistorics/zone/{id}": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Get alarm trend log data but only for alarms of the zone and its children including functional blocks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "description": "If true or absent alarms sorted with ascending order else descending",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/livealarms": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Get the pending and live alarms",
        "parameters": [
          {
            "name": "ascending",
            "in": "query",
            "description": "If true or absent alarms sorted with ascending order else descending",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/livealarms/zone/{id}": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Get the pending and live alarms that belong to a zone.\r\nReturns all alarms of the zone and its children including functional blocks",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "description": "If true or absent alarms sorted with ascending order else descending",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/alarm/subscription": {
      "post": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Add a new subscription for live alarm notification",
        "description": "<br>We propose an event driven mechanism to access the data changes. Instead of continuously reading a data you may subscribe to a value change.\r\n<br>That resource path is used to subscribe to an alarms of openBOS when it is triggered.\r\n<br>As soon as client has subscribed he will be able to receive the state change of alarms inside openBOS.",
        "requestBody": {
          "description": "DTO that contains alarmInstance Id, alarmTrigger Id and Comment",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/alarm/subscription/zone": {
      "post": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Add a new subscription for live alarm notification but only for alarms of the zone and its children including functional blocks",
        "description": "<br>We propose an event driven mechanism to access the data changes. Instead of continuously reading a data you may subscribe to a value change.\r\n<br>That resource path is used to subscribe to an alarms of openBOS when it is triggered.\r\n<br>As soon as client has subscribed he will be able to receive the state change of alarms inside openBOS.",
        "requestBody": {
          "description": "Subscription DTO",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneLiveAlarmSubscriptionDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneLiveAlarmSubscriptionDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneLiveAlarmSubscriptionDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneLiveAlarmSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/alarm/subscription/{id}": {
      "put": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Subscribe to an alarm change.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "DTO that contains alarmInstance Id, alarmTrigger Id and Comment",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "delete a subscription to an alarm change.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the alarm",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/retention-policy": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Get retention policies",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetentionPolicyDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetentionPolicyDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RetentionPolicyDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/trend/advanced": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Get list of trend instances with advanced datas",
        "parameters": [
          {
            "name": "zoneName",
            "in": "query",
            "description": "Filter for the name of the zone instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneTemplateName",
            "in": "query",
            "description": "Filter for the name of the zone template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneParentName",
            "in": "query",
            "description": "Filter for the name of the parent zone instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockName",
            "in": "query",
            "description": "Filter for the name of the functional block instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockTemplateName",
            "in": "query",
            "description": "Filter for the name of the functional block template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datapointName",
            "in": "query",
            "description": "Filter for the name of the datapoint instance",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/trend/{id}": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Get a trend instance by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of trend instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TrendInstanceDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendInstanceDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendInstanceDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/trend/count": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Get number of trend instances",
        "parameters": [
          {
            "name": "zoneName",
            "in": "query",
            "description": "Filter for the name of the zone instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneTemplateName",
            "in": "query",
            "description": "Filter for the name of the zone template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneParentName",
            "in": "query",
            "description": "Filter for the name of the parent zone instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockName",
            "in": "query",
            "description": "Filter for the name of the functional block instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockTemplateName",
            "in": "query",
            "description": "Filter for the name of the functional block template",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datapointName",
            "in": "query",
            "description": "Filter for the name of the datapoint instance",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/trend/countall": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Get total number of trend instances",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/trend/{id}/values": {
      "get": {
        "tags": [
          "Alarms and Trends"
        ],
        "summary": "Get trend values for an existing trend instance",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the trend instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "trendPeriodType",
            "in": "query",
            "description": "Trend period to use for getting values",
            "schema": {
              "$ref": "#/components/schemas/TrendPeriodType"
            }
          },
          {
            "name": "downSamplingId",
            "in": "query",
            "description": "When trendPeriodType is set to DownSampling, the downSamplingId is required",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "Inferior date criteria to filter data",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "Superior date criteria to filter data",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "includeBorderPoints",
            "in": "query",
            "description": "Include the closest value just after before \"from\" and just after \"to\" criterias",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TrendValuesResultDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendValuesResultDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendValuesResultDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/batch": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Executes several queries into a single batch command",
        "description": "<br>Allows to <b>get</b> in a single call several requests executed on the server.\r\n<br>Can be very useful when many information from different entities need to be collected at a time.\r\n<br>For example retrieve detailed information of all the assets of a single zone in one shot.",
        "requestBody": {
          "description": "Object containing the list of requests to perform and the query options that can be applied (useTransaction, stopAtFirstError).",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/BatchDTO"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchResultDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchResultDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BatchResultDTO"
                  }
                }
              }
            }
          },
          "200": {
            "description": "List of result code and result content of each query from the batch"
          }
        }
      }
    },
    "/api/v1/ontology/authentication": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Authenticate a user of the openBOS using the local edge access point (does not apply for cloud authentication)",
        "description": "<br>\r\n  <b>openBOS</b> offers a secure authentication using Json Web Token (JWT) workflow.\r\n<br>This resource path authenticates an API user and retrieves a valid token to be set inside Authorization header for further API calls\r\n<br>Header format as follows Authorization: Bearer \"jwt\" \r\n<br>Token duration is 30 minutes",
        "requestBody": {
          "description": "Object with credentials for authentition",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication result including the JWT to be used for further calls",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Basics"
        ],
        "summary": "Configure the initial password on the edge",
        "description": "Changes the password of the first default user. Used only once at project's initialization.",
        "requestBody": {
          "description": "Password to be set in following format:\r\n  <br><b>\r\n  {\r\n     \"password\": \"new-pwd\"\r\n  }\r\n  </b>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates the initial password has been correctly set"
          }
        }
      }
    },
    "/api/v1/ontology/authentication/logout": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Logout the user",
        "description": "Logout the user from its token, will correposnding user activity entry and will devalidate current notification subscribed by the user.",
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/authentication/refresh": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Refresh the access token (Json Web Token) for further API calls",
        "description": "<br>Used to generate a new JWT (Json Web Token) on basis of the one retrieved by /api/v1/ontology/authentication.\r\n<br>It allows to refresh communication token without having to pass original login/password",
        "requestBody": {
          "description": "Object with credentials renewal",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication result including the JWT to be used for further calls",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/user": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Returns users of a certain type for a certain property zone",
        "description": "This resource path retrieves the basics information of users matching a criteria.\r\n<br>openBOS offers several type of users and you may have differences in roles, agreements, … between these types of users.<br>We are managing: Tenant, Owner, PropertyManager, FacilityManager, Visitor and Administrator.\r\nConnected user must have at least CanConfigureUser access right to retrieve more users than himself.",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of requested users",
            "schema": {
              "$ref": "#/components/schemas/UserType"
            }
          },
          {
            "name": "zoneId",
            "in": "query",
            "description": "Id of the parent property zone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of basics information of users matching the criteria.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/user/{id}": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get detail of a specific user",
        "description": "This resource path retrieves detailed information of a user identified by its unique identifier\r\n<br>openBOS offers several type of users having different roles, agreements, … between these types of users.\r\nConnected user must have at least CanConfigureUser access right and same root role as the requested user to use this method on a user different than himself.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve detailed information of found users.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UserDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/accessright": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get all available access rights",
        "description": "This resource path retrieves the list of access right that can be set to a role in an openBOS project\r\n\r\n<br>openBOS uses a role base access control system.<br>Each user being linked to role, each role having permissions.<br>The access rights are one of these possible permissions authorized for a role.",
        "responses": {
          "200": {
            "description": "List of available AccessRights",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessRightDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessRightDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AccessRightDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/authentication/{login}": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get lockout duration for a given locked out user",
        "description": "If too many consecutive login failures the end-user is lockout a certain ammount of time. This resource path retrieves the time to wait before being authorized to make a new attempt.",
        "parameters": [
          {
            "name": "login",
            "in": "path",
            "description": "Unique identifier of the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The duration in ms that needs to wait the user to log in again",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/jobmask": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get the list of the jobmasks in the project.",
        "description": "This resource path retrieves the list of jobmasks inside the project.\r\n<br>Users have jobmasks meaning a family of users they belong. Objects may or may not be available depending on jobmasks parameters.<br>For example with a jobmask Electrical Installer you may not access to the HVAC components.<br>Jobmasks descriptions are defined by administrator in <b>openBOS</b>.<br>\r\nFor more information on the jobmask use the resource path jobmask with the ID of the jobMask\r\n",
        "responses": {
          "200": {
            "description": "List of jobmasks",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobMaskDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobMaskDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/JobMaskDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/jobmask/{id}": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get detailled information on a specific jobmask",
        "description": "This resource path retrieves detailled information on a specific jobmask.\r\n<br>Users have jobmasks meaning a family of users they belong. Objects may or may not be available depending on jobmasks parameters.<br>For example with a jobmask Electrical Installer you may not access to the HVAC components.<br></para><para>Jobmasks descriptions are defined by administrator in <b>openBOS</b>.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the jobmask",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The detailled information of the jobmask",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/JobMaskDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobMaskDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobMaskDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/projectsettings": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get the project settings",
        "description": "<br>Get the project settings of <b>openBOS</b>\r\n<br>\r\n            Settings include name, details, language, supported languages, device synchronisation status, interval of synchronization with Cloud, …\r\n            ",
        "responses": {
          "200": {
            "description": "Returns the object containing project settings",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSettingsDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSettingsDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectSettingsDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Basics"
        ],
        "summary": "Put the project settings",
        "description": "<br>Update the project settings of <b>openBOS</b>\r\n<br>\r\n            Settings include name, details, language, supported languages, device synchronisation status, interval of synchronization with Cloud, …\r\n            ",
        "requestBody": {
          "description": "Object containg the new settings",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectSettingsDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectSettingsDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectSettingsDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ProjectSettingsDTO"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "201": {
            "description": "Indicates the project settings has been successfuly updated"
          }
        }
      }
    },
    "/api/v1/ontology/role": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get the roles available in the project",
        "description": "This resource path retrieves the list of roles a user can be assigned to.\r\n<b>openBOS</b> uses a Role Based Access Control system. Each user can be assigned to one or several Role. Each role being configured with access rights and topology accessibility (limit to certain zones)",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "<br>Contains search pattern to produce the list. If no set all roles will be returned.\r\n            Filter can look like : \r\n            <ul>Name contains \"A\"</ul><ul>Name = \"A\"</ul><ul>Name startswith \"A\"</ul><ul>Name endswith \"A\"</ul><ul>Tags contains \"A\"</ul><br>And/Or can be used to generate complex query like : <b>(</b>Tags contains \"A\"<b>)</b><b>or</b><b>(</b>Name endswith \"r\"<b>)</b>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles matching the filter criteria.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/role/{id}": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get a specific role",
        "description": "This resource path retrieves a specific role by its unique identifier.\r\n<b>openBOS</b> uses a Role Based Access Control system. Each user can be assigned to one or several Role. Each role being configured with access rights and topology accessibility (limit to certain zones)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique id of the requested role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The matching role.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/zone/parents/{id}": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "Find the parents of a certain type for a building, structure, space, area or generic zone inside the project",
        "description": "If working on a space and asking for parent of type building, the result will be the building of the space.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the property zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentsType",
            "in": "query",
            "description": "type of parents",
            "schema": {
              "$ref": "#/components/schemas/PropertyZoneType"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Additional filter criteria on retrieved zone instance",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of parents of any property zone matching type of zone",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/zone/children/{id}": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "returns the children of any property zone instance filtering on the type of the children",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the property zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childrenType",
            "in": "query",
            "description": "type of children",
            "schema": {
              "$ref": "#/components/schemas/PropertyZoneType"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Additional filter criteria on retrieved zone instance",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/zone": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "Returns the list of zones in the project in a generic way",
        "description": "All ontology property, building, structure, space, area are considered as generic zone in openBOS\r\nThis resource path allows to query the whole zone concept in a generic manner.",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter criteria on retrieved zone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of zone instances matching the filter criteria",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/zone/{id}": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "Returns the detail information of a generic zone",
        "description": "All ontology property, building, structure, space, area are considered as generic zone in openBOS\r\nThis resource path allows to query detail of a generic zone.\r\n\r\nThe difference with the data retrieved via property, space, area from ontology is that generic zone will not contain the ontology decorator like the resource path to get the children space or to get the alarms",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the zone instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of zone instances matching the filter criteria",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneInstanceDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneInstanceDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneInstanceDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/tag": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "Get a list of all tags",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station": {
      "get": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Get the list of stations inside the project",
        "description": "<br>This resource path retrieves the basics information of station defined in the project.\r\n<br>A station is an hardware embedding at least a middleware. That middleware may read several protocols and several networks.\r\n<br>Detailled information on a station can be found by using station resource path including its unique id (ie: .../station/{id} )",
        "responses": {
          "200": {
            "description": "Retrieve the list of station in the system with for each the basics information",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station/{id}": {
      "get": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Get detailled information for a specific station",
        "description": "<br>A station is an hardware embedding at least a middleware. That middleware may read several protocols and several networks. \r\n<br>That resource path returns the detailled information of a specific station in the project. ",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the requested middleware station",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve detailled definition of the middleware station",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StationInfoDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationInfoDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station/synchro": {
      "post": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Forces an operation of synchronization on a specific station",
        "description": "<br>A station is an hardware embedding at least a middleware. That middleware may read several protocols and several networks. \r\n<br>The synchronization is the operation of keeping in sync the openBOS and its underlying middleware. \r\n<br>Each time an update is done on openBOS that has impact on the middleware layer (used to communicate with fieldbus devices) a synchronization is required to align both definition.\r\n<br>That routes forces an operation of synchronization on a specific station.",
        "requestBody": {
          "description": "The parameters of the synchronization",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/MiddlewareSynchroOptionsDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MiddlewareSynchroOptionsDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/MiddlewareSynchroOptionsDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/MiddlewareSynchroOptionsDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Retrieves the unique identifier of the operation (tag). This tag must be passed, later on, to the synchronization status resource path to get the advancement of the operation.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MiddlewareSynchroOptionsDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MiddlewareSynchroOptionsDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MiddlewareSynchroOptionsDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/stationsynchrostatus": {
      "get": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Get the status of synchronization of the stations inside the project",
        "description": "<br>A station is an hardware embedding at least a middleware. That middleware may read several protocols and several networks. \r\n<br>The synchronization is the operation of keeping in sync the openBOS and its underlying middleware. \r\n<br>Each time an update is done on openBOS that has impact on the middleware layer (used to communicate with fieldbus devices) a synchronization is required to align both definition.\r\n<br>Synchronization can be set manual or automatic for each station.\r\n<br>That routes retrieves the synchronization status for all the stations of the project.",
        "responses": {
          "200": {
            "description": "Retrieves synchronization status of middleware stations",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationSynchroStatusDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationSynchroStatusDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationSynchroStatusDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/stationsynchrostatus/{stationId}/{tag}": {
      "get": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Get the status of synchronization of a specific station.",
        "description": "<br>A station is an hardware embedding at least a middleware. That middleware may read several protocols and several networks. \r\n<br>The synchronization is the operation of keeping in sync the openBOS and its underlying middleware. \r\n<br>Each time an update is done on openBOS that has impact on the middleware layer (used to communicate with fieldbus devices) a synchronization is required to align both definition.\r\n<br>Each station can be configured to synchronize manually or automaticaly.\r\n<br>That routes retrieves the status of a specific forced synchronization (specified by a tag) on a specific station (specified by its id).",
        "parameters": [
          {
            "name": "stationId",
            "in": "path",
            "description": "id of the station",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "path",
            "description": "tag returned by a forced synchronization",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves a boolean indicating if the synchronization is done",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/stationsynchrostatus/{stationId}": {
      "get": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Get the synchronization \"in-progress\" flag for a station.",
        "description": "<br>A station is an hardware embedding at least a middleware. That middleware may read several protocols and several networks. \r\n<br>The synchronization is the operation of keeping in sync the openBOS and its underlying middleware. \r\n<br>Each time an update is done on openBOS that has impact on the middleware layer (used to communicate with fieldbus devices) a synchronization is required to align both definition.\r\n<br>Each station can be configured to synchronize manually or automaticaly.\r\n<br>That routes retrieves a flag indicating if a synchronization is in progress on a specific station (specified by iyts id).",
        "parameters": [
          {
            "name": "stationId",
            "in": "path",
            "description": "id of the station",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves a boolean indicating if a synchronization is in progress",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "boolean"
                }
              },
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              },
              "text/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/network/{id}/organization": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the database of devices and parameters of a network",
        "description": "<br>A station is a hardware embedding at least one middleware.\r\n<br>That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>Each network includes a collection of devices, infrastructure, has a list of parameters, a list of datapoints, [...]: we call it the network organization.\r\n<br>The network organization is built has a standard hierarchic tree.\r\n<br>The exploration of an organization is done level by level by requesting the children.\r\n<br>This resource path retrieves a level in the hierarchic tree of the network organization",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the network",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "null to get the root branches, otherwise parent id of the branch to get its children",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the branches matching parentId criteria",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/network/{id}/organization/information": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the version number of the database of devices and parameters of a network",
        "description": "<br>A station is a hardware embedding at least one middleware.That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>Each network includes a collection of devices, infrastructure, has a list of parameters, a list of datapoints, [...]: we call it the network organization.\r\n<br>This resource path retrieves the internal version of the network organization in the database (each update of the network organization increase this version number)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the network",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version information about the organization",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkOrganizationInfoDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkOrganizationInfoDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkOrganizationInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/network/organization/branch/{id}": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get an item (branch) of the database of devices and parameters (temporary or not) of a network",
        "description": "<br>A station is a hardware embedding at least one middleware.That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>Each network includes a collection of devices, infrastructure, has a list of parameters, a list of datapoints, [...]: we call it the \"network organization\".\r\n<br>The network organization is built has a standard hierarchic tree.\r\n<br>Querying the organization is done level by level.\r\n<br>When updating a network organization a temporary one is created and manipulated. Once the temporary organization is comitted it will become the newest.\r\n<br>This resource path retrieves an item (branch) in the hierarchic tree of the network organization (temporary or not)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the branch matching id criteria",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BranchDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/datatype": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the list of available data type present in the entire project",
        "description": "<br>Each value has a datatype including unit, min, max, limit, possible value if any...\r\n<br>That resource path returns the catalogue of the entire datatypes available in the project depening on the transport in the edge (the protocols).\r\n<br>Detailled information on a datatype can be found by using the datatype resource path including its unique id (ie: .../datatype/{id} )",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Contains search pattern to produce the list",
            "schema": {
              "$ref": "#/components/schemas/DataTypeRequestDTO"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the list of data type basics information",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/DataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/LongDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DoubleDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/BoolDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/StringDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/EnumerationDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ComplexDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DateTimeOffsetDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/TimeSpanDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPAddressDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPEndPointDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ArrayDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ByteDataTypeDTO"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/DataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/LongDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DoubleDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/BoolDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/StringDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/EnumerationDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ComplexDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DateTimeOffsetDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/TimeSpanDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPAddressDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPEndPointDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ArrayDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ByteDataTypeDTO"
                      }
                    ]
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/DataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/LongDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DoubleDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/BoolDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/StringDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/EnumerationDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ComplexDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DateTimeOffsetDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/TimeSpanDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPAddressDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPEndPointDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ArrayDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ByteDataTypeDTO"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/datatype/transport": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the list of available data type for a given transport",
        "description": "<br>A transport is a protocol. That resource path returns the list of available datatypes in a network.\r\n<br>You can state the network you want giving the correct protocol as a parameter\r\n<br>(BACnet, KNXRouting, KNXTunneling, Lonworks, ModbusSerial, ModbusIP, MBus, xDriver, Memory)",
        "parameters": [
          {
            "name": "transport",
            "in": "query",
            "description": "The filtered transport for datatypes",
            "schema": {
              "$ref": "#/components/schemas/TransportType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the list of data type basics information matching transport criteria",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/DataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/LongDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DoubleDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/BoolDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/StringDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/EnumerationDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ComplexDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DateTimeOffsetDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/TimeSpanDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPAddressDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPEndPointDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ArrayDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ByteDataTypeDTO"
                      }
                    ]
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/DataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/LongDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DoubleDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/BoolDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/StringDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/EnumerationDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ComplexDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DateTimeOffsetDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/TimeSpanDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPAddressDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPEndPointDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ArrayDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ByteDataTypeDTO"
                      }
                    ]
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/DataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/LongDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DoubleDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/BoolDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/StringDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/EnumerationDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ComplexDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/DateTimeOffsetDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/TimeSpanDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPAddressDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/IPEndPointDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ArrayDataTypeDTO"
                      },
                      {
                        "$ref": "#/components/schemas/ByteDataTypeDTO"
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/datatype/{id}": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the detail of a DataType of the project.",
        "description": "<br>A DataType can be of type Long, Double, Bool, String, Enumeration, Complex, DateTime, Duration, IP address, IP address + port, Byte, Array Of one of preceding dataType.\r\n<br>That resource path needs the ID of the datatype and returns the details\r\n<br>Detail of a dataType may for example gives the autorized min / max value of a Long or Double value or give the list of valid enumeration.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the data type object",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "desiredunit",
            "in": "query",
            "description": "Id of the desired unit for numeric min/max. If not present will use the unit of the datatype",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detailled information of a specific datatype.",
            "content": {
              "text/plain": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/LongDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/DoubleDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/BoolDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/StringDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/EnumerationDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/ComplexDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/DateTimeOffsetDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/TimeSpanDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/IPAddressDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/IPEndPointDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/ArrayDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/ByteDataTypeDTO"
                    }
                  ]
                }
              },
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/LongDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/DoubleDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/BoolDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/StringDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/EnumerationDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/ComplexDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/DateTimeOffsetDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/TimeSpanDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/IPAddressDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/IPEndPointDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/ArrayDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/ByteDataTypeDTO"
                    }
                  ]
                }
              },
              "text/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/DataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/LongDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/DoubleDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/BoolDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/StringDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/EnumerationDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/ComplexDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/DateTimeOffsetDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/TimeSpanDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/IPAddressDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/IPEndPointDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/ArrayDataTypeDTO"
                    },
                    {
                      "$ref": "#/components/schemas/ByteDataTypeDTO"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/deviceinstance/{id}": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get a device instance detail by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInstanceDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInstanceDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInstanceDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/deviceinstance": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the list of device instance available in the system",
        "parameters": [
          {
            "name": "networkId",
            "in": "query",
            "description": "Id of the network you want the devices. null for all",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceInstanceInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceInstanceInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceInstanceInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station/{id}/driver": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the list of available protocol driver in a specific Station",
        "description": "<br>A station is a hardware embeding at least a middleware.\r\n<br>That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): The networks.\r\n<br>That resource path sends back the entire protocols supported by the Station . That may be used to read data from fieldbus.\r\n<br>For more information on a driver use the resource path .../station/{stationId}/driver/get/{id} with the ID of the driver.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the station",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of protocol driver definitions on the station.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DriverDescriptorInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DriverDescriptorInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DriverDescriptorInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station/{stationId}/driver/{id}": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the detail of a specific protocol driver on a station",
        "description": "<br>A station is a hardware embeding at least a middleware.\r\n<br>That middleware may read several protocols. Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>Each fieldbus is accessible through a dedicated driver, this command retrieve the detail of a driver. \r\n<br>The driver detail contains the list of configuration values used to communicate with the fieldbus device of the protocol.\r\n<br>The list of configuration is dependant from the driver itself (ie: the configuration used for a ModBus communication is different from the configuration used for a BACNet communication.",
        "parameters": [
          {
            "name": "stationId",
            "in": "path",
            "description": "Unique identifier of the station",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the driver",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Protocol driver definitions on the station.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DriverDescriptorDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverDescriptorDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DriverDescriptorDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/network": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the list of field bus networks available in the whole project.",
        "description": "<br>A station is a hardware embedding at least a middleware.\r\n<br>That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>A fieldbus network is a declared network of devices communicating on a protocol.\r\n<br>We may have for example LonWorks, BACnet, KNX, MQTT network That resource path returns the collection of available networks in a station.\r\n<br>For detailled on a network use the dedicated network resource path with the ID of the network (.../network/{id}) ",
        "responses": {
          "200": {
            "description": "List of basics definition of network insied the project.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NetworkDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NetworkDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NetworkDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/network/{id}": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get detail information of a specific network of a station.",
        "description": "<br>A station is a hardware embeding at least a middleware.\r\n<br>That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>That resource path gives the details of the specific network giving its unique identifier as parameter.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the network",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail information of a specific network.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/physicaldevice/{id}": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get a physical device detail by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PhysicalDeviceDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhysicalDeviceDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PhysicalDeviceDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/physicaldevice": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "parameters": [
          {
            "name": "networkId",
[...]
