{
  "openapi": "3.0.1",
  "info": {
    "title": "Ontology API",
    "version": "v0.35.0"
  },
  "security": [
	{
	  "oauthsample": [
		"api://openbos/BosApi.Proxy"
	  ]
	}
  ],
  "servers": [
    { 
      "url": "https://api.electrification.ability.abb/buildings/openbos/apiproxy/v1/{gwid}",
      "description":"Cloud endpoint",
      "variables":{
        "gwid":{
          "default":"demonstrationEdge1",
          "description": "Unique identifier of the SmartEdge"
        }
      }
    }
  ],
  "paths": {
    "/api/v1/ontology/alarm/{id}": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Get an alarm configuration instance by id",
        "operationId": "6D950E9D3D44F2C0896F0CD7BDE340B09777468680E22709F081FD0E052EDC14",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmInstanceDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmInstanceDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmInstanceDTO"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Alarms"
        ],
        "summary": "Update an existing alarm configuration",
        "operationId": "5789F32271A5FFAD5B635FE789601EA18CA9982879661956111992D4B7E92C9B",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the alarm to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "New alarm configuration",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmInstanceDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmInstanceDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmInstanceDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmInstanceDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Alarms"
        ],
        "summary": "Delete an existing alarm configuration",
        "operationId": "93A7A8A7D3BB6C064228830166BA4A88D247D0D47C8D5B430DF1BED54B61BDEB",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the alarm to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/alarm/advanced/{id}": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Get details of an alarm configuration by id. Detail will contain information like zone or asset name it is connected to.",
        "operationId": "9A2F6A4122FF8A81BBF84BEE8C80DD0BA3014D86C54CB2DF9EC7CB6ECA462191",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmInstanceAdvancedDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmInstanceAdvancedDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AlarmInstanceAdvancedDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/alarm": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Get all the alarm configurations in the site.",
        "description": "<br>OpenBOS manages alarms. These alarms are synchronized to alarm templates or may be manual alarms.\r\n<br>Ontology also stores alarm triggers (levels, hysteresis, [...]) and the datapoint associated to the alarm.\r\n<br>That resource path returns all alarm configurations inside the property. ",
        "operationId": "3278DAEBB3AC16CBC02C5B10574C289F626FDAAD2143AF9696BB27FAD6B59F40",
        "parameters": [
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the first returned alarm instance (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max count of alarm instance in the result list (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmInstanceInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmInstanceInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmInstanceInfoDTO"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Alarms"
        ],
        "summary": "Create a new alarm configuration",
        "operationId": "7C5455AE3C17429A58091E975F49E98839A6D75C282D4803A3D8AE27068BB32B",
        "requestBody": {
          "description": "Alarm configuration to create",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmInstanceCreationDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmInstanceCreationDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmInstanceCreationDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AlarmInstanceCreationDTO"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the newly created item"
          }
        }
      }
    },
    "/api/v1/ontology/alarm/advanced": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Get list of alarm configuration that matches advanced filtering criteria the result object contained detailled information like zone or asset name it is connected to",
        "description": "Logged user must have access to parent to get the alarms",
        "operationId": "C6B51DC84B0F7930DFBD8A8D076F600C49C331B30D7612199DDEDFC1A77A0269",
        "parameters": [
          {
            "name": "zoneName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneTemplateName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneParentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockTemplateName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datapointName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "triggerName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "triggerSeverity",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlarmSeverity"
            }
          },
          {
            "name": "needAcknowledge",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the first returned alarm instance (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max count of alarm instance in the result list (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmInstanceAdvancedDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmInstanceAdvancedDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmInstanceAdvancedDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/alarm/advanced/count": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Get number of alarm configuration that matches the filter criteria using advanced filtering criteria",
        "description": "NOTE: count and advanced/count endpoints are doing exactly the same",
        "operationId": "E4147A4698137AAE66CBB52FF38669F8CC97CA82F25E515883EC7FD4D6A98056",
        "parameters": [
          {
            "name": "zoneName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneTemplateName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneParentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockTemplateName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datapointName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "triggerName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "triggerSeverity",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlarmSeverity"
            }
          },
          {
            "name": "needAcknowledge",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/alarm/advanced/countbytype": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Get number of alarm instances grouped by severity, acknowledge and active",
        "operationId": "DC08A2314AA614556F09313BD5CF0EABC0ADE11CDECF9A7D14E8CA125AC5C55F",
        "parameters": [
          {
            "name": "zoneName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneTemplateName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "zoneParentName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "functionalBlockTemplateName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "datapointName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "triggerName",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "triggerSeverity",
            "in": "query",
            "schema": {
              "$ref": "#/components/schemas/AlarmSeverity"
            }
          },
          {
            "name": "needAcknowledge",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "Active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmInstancesCountDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmInstancesCountDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmInstancesCountDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/alarmhistorics": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Get trend of alarm events between two dates",
        "operationId": "52666F481B3FAEAE7A392C430E468071564274688EA2DC0C26853FE0ADD1BB11",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "description": "If true or absent alarms sorted with ascending order else descending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the first returned alarms (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max count of alarms in the result list (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/alarmhistorics/count": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Retrieve the number of alarm events that occured between two dates",
        "operationId": "BF57219E4FE4994C5C4D271AAA6800F639360140C1765A6D63250C8B75D19DF0",
        "parameters": [
          {
            "name": "startDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/alarmhistorics/zone/{id}": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Get trend of alarm events that occured between two dates for a specific zone and its children (including functional blocks)",
        "operationId": "1F9A6605DE488789321025EBA68401510A31915B1F26651E4EBAB3099FB600A2",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "startDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "endDate",
            "in": "query",
            "description": "Null or DateTime",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "description": "If true or absent alarms sorted with ascending order else descending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the first returned alarms (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max count of alarms in the result list (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/livealarms": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Get the list of alarm currently detected in the system",
        "operationId": "8DF5352B31757410D99578D09458611040380085F3F4F4DC97CF7601108B82E9",
        "parameters": [
          {
            "name": "ascending",
            "in": "query",
            "description": "If true or absent alarms sorted with ascending order else descending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the first returned alarms (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max count of alarms in the result list (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/livealarms/count": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Retrieves the number of alarms currently detected in the system",
        "operationId": "34FD28F24E4ECE1C7424C7B3614DD8C4C06987065456F34671332AFD1878B6CD",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/livealarms/zone/{id}": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Retrieves the alarms currently detected in the system under a specific zone.\r\nIt contains all alarms of the zone and its children (including functional blocks)",
        "operationId": "E0C69DAF7DEBA69CC322CA80EF96E00BDD6A6F5F67140438E45376EAC3CCE9A5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "description": "If true or absent alarms sorted with ascending order else descending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "size of a page if paging is used",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "offset of page if paging is used",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/livealarms/zone/{id}/count": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Retrieves the number of alarms currently detected in the system under a specific zone.\r\nIt counts all alarms of the zone and its children (including functional blocks)",
        "operationId": "FB8BBB080FAFB2190F7F0EE6BC0CEA6399271CF432A0A8A5B42F4428FF025F8A",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/livealarms/functionalblock/{id}": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Retrieves the alarms currently detected in the system under a specific functional block.",
        "operationId": "75CB935BF6B6B0600A26C40D2CF5AF7051F0D2C3071F1B2F61C4C2F4BA7662E5",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the functional block",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ascending",
            "in": "query",
            "description": "If true or absent alarms sorted with ascending order else descending",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Offset of the first returned alarms (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Max count of alarms in the result list (for paging)",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AlarmHistoricDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/livealarms/functionalblock/{id}/count": {
      "get": {
        "tags": [
          "Alarms"
        ],
        "summary": "Retrieves the number of alarms currently detected in the system under a specific functional block.",
        "operationId": "8845802F049A4130B5BAD0BDBEF19F444886F05D16304C46BEA464077FC5475F",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the functional bloc",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/alarm/acknowledge": {
      "post": {
        "tags": [
          "Alarms"
        ],
        "summary": "Acknowledge a specific alarm.\r\nonly authorized alarms are acked",
        "operationId": "5B99B7DAD1741EF88BDBE963A76227049F8110927F00FF7829AC05CD4680ED82",
        "requestBody": {
          "description": "Descriptoin of acknowledges to do with id and comment of each alarm",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AcknowledgeAlarmDTO"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AcknowledgeAlarmDTO"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AcknowledgeAlarmDTO"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/AcknowledgeAlarmDTO"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/alarm/subscription": {
      "post": {
        "tags": [
          "Alarms"
        ],
        "summary": "Add a new subscription for live alarm notification",
        "description": "<br>We propose an event driven mechanism to access the data changes. Instead of continuously reading a data you may subscribe to a value change.\r\n<br>That resource path is used to subscribe to an alarms of openBOS when it is triggered.\r\n<br>As soon as client has subscribed he will be able to receive the state change of alarms inside openBOS.",
        "operationId": "972AA539561B4009F0C7CA4692A35EA99A3E70F6FA594B4FE1C5E9A50FB0D975",
        "requestBody": {
          "description": "DTO that contains alarmInstance Id, alarmTrigger Id and Comment",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/alarm/subscription/zone": {
      "post": {
        "tags": [
          "Alarms"
        ],
        "summary": "Add a new subscription for live alarm notification but only for alarms of the zone and its children including functional blocks",
        "description": "<br>We propose an event driven mechanism to access the data changes. Instead of continuously reading a data you may subscribe to a value change.\r\n<br>That resource path is used to subscribe to an alarms of openBOS when it is triggered.\r\n<br>As soon as client has subscribed he will be able to receive the state change of alarms inside openBOS.",
        "operationId": "F2A7D7895E0A6E72D49D45F557AB5CC359CDAFFB586E1BBDEA73A0BA868DA8DF",
        "requestBody": {
          "description": "Subscription DTO",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneLiveAlarmSubscriptionDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneLiveAlarmSubscriptionDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneLiveAlarmSubscriptionDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/ZoneLiveAlarmSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/alarm/subscription/functionalblock": {
      "post": {
        "tags": [
          "Alarms"
        ],
        "summary": "Add a new subscription for live alarm notification but only for alarms of a functional block.",
        "description": "<br>We propose an event driven mechanism to access the data changes. Instead of continuously reading a data you may subscribe to a value change.\r\n<br>That resource path is used to subscribe to an alarms of openBOS when it is triggered.\r\n<br>As soon as client has subscribed he will be able to receive the state change of alarms inside openBOS.",
        "operationId": "6C59B1F7989DC13BC6C8F6D83C8BC55ACCB233CD3A857547C3969D892AC3B7CB",
        "requestBody": {
          "description": "Subscription DTO",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionalBlockLiveAlarmSubscriptionDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionalBlockLiveAlarmSubscriptionDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionalBlockLiveAlarmSubscriptionDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/FunctionalBlockLiveAlarmSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/alarm/subscription/{id}": {
      "put": {
        "tags": [
          "Alarms"
        ],
        "summary": "Subscribe to an alarm change.",
        "operationId": "76DD9BF203E406400A0625E7A6DDE2ECCB773522F189F746544C1D944180ABA1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifiaer of the subscription to be updated",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "DTO that contains alarmInstance Id, alarmTrigger Id and Comment",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/LiveAlarmSubscriptionDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "delete": {
        "tags": [
          "Alarms"
        ],
        "summary": "delete a subscription to an alarm change.",
        "operationId": "66DEA1CD160875B4C887B96E62685A7D0C3C73C3BB9B4B44F392CD0933E5AD46",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Id of the alarm",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/v1/ontology/authentication": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Authenticate a user of the openBOS using the local edge access point (does not apply for cloud authentication)",
        "description": "<br>\r\n  <b>openBOS</b> offers a secure authentication using Json Web Token (JWT) workflow.\r\n<br>This resource path authenticates an API user and retrieves a valid token to be set inside Authorization header for further API calls\r\n<br>Header format as follows Authorization: Bearer \"jwt\" \r\n<br>Token duration is 30 minutes",
        "operationId": "97874D1FA680D45D751B2D42554C55E9CEDBA112C242A465269590E55FDEBD0F",
        "requestBody": {
          "description": "Object with credentials for authentition",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AuthenticationDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication result including the JWT to be used for further calls",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              }
            }
          }
        }
      },
      "patch": {
        "tags": [
          "Basics"
        ],
        "summary": "Configure the initial password on the edge",
        "description": "Changes the password of the first default user. Used only once at site's initialization.",
        "operationId": "DD1A586F1375AF9AF77A0D39AC476D5D7273FDDE86B728F950D21734240D21C4",
        "requestBody": {
          "description": "Password to be set in following format:\r\n  <br><b>\r\n  {\r\n     \"password\": \"new-pwd\"\r\n  }\r\n  </b>",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "additionalProperties": {
                  "type": "string"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Indicates the initial password has been correctly set"
          }
        }
      }
    },
    "/api/v1/ontology/authentication/refresh": {
      "post": {
        "tags": [
          "Basics"
        ],
        "summary": "Refresh the access token (Json Web Token) for further API calls",
        "description": "<br>Used to generate a new JWT (Json Web Token) on basis of the one retrieved by /api/v1/ontology/authentication.\r\n<br>It allows to refresh communication token without having to pass original login/password",
        "operationId": "7A70BFE01C1B3858D21D844115F9A020F99B080FFD57F8C888AA1682F69E3F19",
        "requestBody": {
          "description": "Object with credentials renewal",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenDTO"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenDTO"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenDTO"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshTokenDTO"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication result including the JWT to be used for further calls",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoginResponseDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/user": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Returns users of a certain type for a certain property zone",
        "description": "This resource path retrieves the basics information of users matching a criteria.\r\n<br>openBOS offers several type of users and you may have differences in roles, agreements, … between these types of users.<br>We are managing: Tenant, Owner, PropertyManager, FacilityManager, Visitor and Administrator.\r\nConnected user must have at least CanConfigureUser access right to retrieve more users than himself.",
        "operationId": "8D7CD91A8E93CF627B42F267254B70E4241455F4CED04638E78F60AC3A8F6989",
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Type of requested users",
            "schema": {
              "$ref": "#/components/schemas/UserType"
            }
          },
          {
            "name": "zoneId",
            "in": "query",
            "description": "Id of the parent property zone",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of basics information of users matching the criteria.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UserInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/user/{id}": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get detail of a specific user",
        "description": "This resource path retrieves detailed information of a user identified by its unique identifier\r\n<br>openBOS offers several type of users having different roles, agreements, … between these types of users.\r\nConnected user must have at least CanConfigureUser access right and same root role as the requested user to use this method on a user different than himself.",
        "operationId": "06168B990804D7500596663F7CB8BDB636F682BF3D2716C2F5112ECFD147C641",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve detailed information of found users.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/UserDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/UserDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/authentication/{login}": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get lockout duration for a given locked out user",
        "description": "If too many consecutive login failures the end-user is lockout a certain ammount of time. This resource path retrieves the time to wait before being authorized to make a new attempt.",
        "operationId": "C24BE4C3002726592B9D6DBA141369CC36D132DB5E1111CFF554316202429A6B",
        "parameters": [
          {
            "name": "login",
            "in": "path",
            "description": "Unique identifier of the user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The duration in ms that needs to wait the user to log in again",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              },
              "text/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/role": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get the roles available in the site",
        "description": "This resource path retrieves the list of roles a user can be assigned to.\r\n<b>openBOS</b> uses a Role Based Access Control system. Each user can be assigned to one or several Role. Each role being configured with access rights and topology accessibility (limit to certain zones)",
        "operationId": "47966213D1CB35B67B9233A713CEE0CCF885E9B627697A3FCB5F4B654B71D311",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "<br>Contains search pattern to produce the list. If no set all roles will be returned.\r\n            Filter can look like : \r\n            <ul>Name contains \"A\"</ul><ul>Name = \"A\"</ul><ul>Name startswith \"A\"</ul><ul>Name endswith \"A\"</ul><ul>Tags contains \"A\"</ul><br>And/Or can be used to generate complex query like : <b>(</b>Tags contains \"A\"<b>)</b><b>or</b><b>(</b>Name endswith \"r\"<b>)</b>",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of roles matching the filter criteria.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/role/{id}": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get a specific role",
        "description": "This resource path retrieves a specific role by its unique identifier.\r\n<b>openBOS</b> uses a Role Based Access Control system. Each user can be assigned to one or several Role. Each role being configured with access rights and topology accessibility (limit to certain zones)",
        "operationId": "FBC8B991B4D901BCE530CFDDCA6EF097D02E96A11A0992B13A383C827BF1A28F",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique id of the requested role",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The matching role.",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/RoleDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/role/building": {
      "get": {
        "tags": [
          "Basics"
        ],
        "summary": "Get roles for a building, and owning at least one space with tag in the building.",
        "operationId": "6C10260B961AC13ABD0D2D79FC72D239C360A0135D777C6BB039E4520C5C3263",
        "parameters": [
          {
            "name": "buildingId",
            "in": "query",
            "description": "Id",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tag",
            "in": "query",
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/RoleDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/tag": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "Get a list of all tags",
        "operationId": "421B5D38B478599BA98276A3E2163CE3D44C04C918CAA22F658F8341C2AB003C",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/zone": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "Get list of zone instances in the site",
        "description": "<br>openBOS hierarchy is based on zones. A zone can be a property a building a floor...\r\n<br>This resource path finds a list of all the zone instance matching the filter criteria.\r\n<br>Only zone instances that are authorized to the end user are returned",
        "operationId": "1DB0C6CC4AFA36C833D887A7D46E1C51017D7CB236F3F9A61A598D30E0B9FD64",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "<br>Filter criteria to find zone instance in the site.\r\n<br>Example\r\n<br>Name contains \"ABC\"\r\n<br>underzone \"{idofzone}\"\r\n<br>Name contains \"ABC\" and Tags contains \"light\"",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of basic information on matching zone instances",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/zone/hierarchy": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "Return the list of zones (all kinds) in a tree (parent/child) data model pattern",
        "description": "<br>openBOS hierarchy is based on zones. A zone can be a property a building a floor...\r\n<br>This resource returns a list of ZoneInstanceHierarchyDTO object each of them containing there direct children.\r\n<br>Only zone instances that are authorized to the end user are returned",
        "operationId": "59F9747C23E9573D724ECE91FF8D14CB34867D59C00A1B105ADB9349793FE405",
        "parameters": [
          {
            "name": "ptag",
            "in": "query",
            "description": "List of tags used to filter zones that will be retrieved. Each retrieved zone must contain one of the tag of this list.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "zone",
            "in": "query",
            "description": "List of zone template id used to filter zones that will be retrieved.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "trends",
            "in": "query",
            "description": "Indicates if only datapoints attached to a trend instance must be retrieved",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of ZoneInstanceHierarchyDTO object each of them containing there direct children.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceHierarchyDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceHierarchyDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceHierarchyDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/zone/parents/{id}": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "Find the parents of a certain type for a building, structure, space, area or generic zone inside the site",
        "description": "If working on a space and asking for parent of type building, the result will be the building of the space.",
        "operationId": "FD3D05DEBEBECDDFA8CA7A7AA2F7D5F77D64884A2A85CED5A64ABF1D93492374",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the property zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentsType",
            "in": "query",
            "description": "type of parents",
            "schema": {
              "$ref": "#/components/schemas/PropertyZoneType"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Additional filter criteria on retrieved zone instance",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of parents of any property zone matching type of zone",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/zone/children/{id}": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "returns the children of any property zone instance filtering on the type of the children",
        "operationId": "468B7EC258FF82586FABDE30EF119E4EF73022FFE8CAA12B5C0E267E2B082C43",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the property zone",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "childrenType",
            "in": "query",
            "description": "type of children",
            "schema": {
              "$ref": "#/components/schemas/PropertyZoneType"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Additional filter criteria on retrieved zone instance",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ZoneInstanceInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/zone/{id}": {
      "get": {
        "tags": [
          "Core root objects: ZONE and TAGS"
        ],
        "summary": "Get a zone instance detail in the site",
        "description": "<br>openBOS hierarchy is based on zones. A zone can be a property a building a floor...\r\n<br>This resource returns the detail information of the zone instance.\r\n<br>Only zone instances that are authorized to the end user are returned",
        "operationId": "F733798B15D3631681D6BABC07AC4A97AA4F44FCF31EA587AA90BC73ADFF91F4",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the requested zone instance",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "onlyInZoneFbs",
            "in": "query",
            "description": "Get only functional blocks in zone",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Detail information of the zone instance",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneInstanceDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneInstanceDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ZoneInstanceDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station": {
      "get": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Get the list of stations inside the site",
        "description": "<br>This resource path retrieves the basics information of station defined in the site.\r\n<br>A station is an hardware embedding at least a middleware. That middleware may read several protocols and several networks.\r\n<br>Detailled information on a station can be found by using station resource path including its unique id (ie: .../station/{id} )",
        "operationId": "2993452C680CE0BC7C8985A8E6ABCCF1A96879CA6879E1AE4B789F8156320658",
        "responses": {
          "200": {
            "description": "Retrieve the list of station in the system with for each the basics information",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station/{id}": {
      "get": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Get detailled information for a specific station",
        "description": "<br>A station is an hardware embedding at least a middleware. That middleware may read several protocols and several networks. \r\n<br>That resource path returns the detailled information of a specific station in the site. ",
        "operationId": "462ADA187AB5FC254E1C2727182A49BA7B9039CCC8CF669973CEBABF6450B6BE",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the requested middleware station",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieve detailled definition of the middleware station",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/StationInfoDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationInfoDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/StationInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station/{id}/synchronizationtable": {
      "get": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Get the list of minimal information about the BOS MiddlewareTable items linked to a station.",
        "operationId": "151EEAECAB5C2B4BFA232A88B4EAF9EBDB3959AD2E12AA1A308A395A2CDA914A",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the station",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MiddlewareTableInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MiddlewareTableInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MiddlewareTableInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/stationsynchrostatus": {
      "get": {
        "tags": [
          "Edge and stations"
        ],
        "summary": "Get the status of synchronization of the stations inside the site",
        "description": "<br>A station is an hardware embedding at least a middleware. That middleware may read several protocols and several networks. \r\n<br>The synchronization is the operation of keeping in sync the openBOS and its underlying middleware. \r\n<br>Each time an update is done on openBOS that has impact on the middleware layer (used to communicate with fieldbus devices) a synchronization is required to align both definition.\r\n<br>Synchronization can be set manual or automatic for each station.\r\n<br>That route retrieves the synchronization status for all the stations of the site.",
        "operationId": "4AC9B7FF9D35B831CDA0CEB84F72B89F549CB2F9E3F7DCC8ECAB1E40558B7D63",
        "responses": {
          "200": {
            "description": "Retrieves synchronization status of middleware stations",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationSynchroStatusDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationSynchroStatusDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/StationSynchroStatusDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/distribution/structuretypes": {
      "get": {
        "tags": [
          "Meters"
        ],
        "operationId": "8A3C9C356ACD338921E545019B417E0CEDFBDF321F4FD647C6B8E26476E2A013",
        "parameters": [
          {
            "name": "energyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergyStructureTypeDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergyStructureTypeDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergyStructureTypeDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/distribution/{id}": {
      "get": {
        "tags": [
          "Meters"
        ],
        "operationId": "63955256269D59C5E4E0C6E2C48089F30BC8287049D7DE8BA9AFBA839BC04AB1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DistributionDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistributionDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistributionDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/distribution": {
      "get": {
        "tags": [
          "Meters"
        ],
        "operationId": "B133E7A0A0C1D0200B895FCFD2929252CFB2FD76FBC16BAFE3E9C0246E0F4474",
        "parameters": [
          {
            "name": "energyId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistributionDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistributionDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DistributionDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/meter/energy": {
      "get": {
        "tags": [
          "Meters"
        ],
        "operationId": "F47846AF97412144CB3771E7CD1AE382B05DBA6A58E87B6D98A811E155542C22",
        "parameters": [
          {
            "name": "onlySupported",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergyDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergyDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EnergyDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/meter/{id}": {
      "get": {
        "tags": [
          "Meters"
        ],
        "operationId": "4C795AA277402B36CD2773B0163DAEDD03A92775E672F0844A3EFEF4BA640CDF",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/MeterDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/meter/hierarchy": {
      "get": {
        "tags": [
          "Meters"
        ],
        "operationId": "6895A03ED00F4C7C5E32F43DDFEF4493B9D5708DD32912F8F1687DEE70BF445C",
        "parameters": [
          {
            "name": "energyid",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeterHierarchyInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeterHierarchyInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/MeterHierarchyInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/network/{id}/organization": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the database of devices and parameters of a network",
        "description": "<br>A station is a hardware embedding at least one middleware.\r\n<br>That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>Each network includes a collection of devices, infrastructure, has a list of parameters, a list of datapoints, [...]: we call it the network organization.\r\n<br>The network organization is built has a standard hierarchic tree.\r\n<br>The exploration of an organization is done level by level by requesting the children.\r\n<br>This resource path retrieves a level in the hierarchic tree of the network organization",
        "operationId": "F8B0FCCEA0086656EA8905E82A7ACB62BB3F3EF081858F536123CA59AD2B860C",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the network",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentId",
            "in": "query",
            "description": "null to get the root branches, otherwise parent id of the branch to get its children",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter on datapoints",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the branches matching parentId criteria",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/network/{id}/organization/information": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the version number of the database of devices and parameters of a network",
        "description": "<br>A station is a hardware embedding at least one middleware.That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>Each network includes a collection of devices, infrastructure, has a list of parameters, a list of datapoints, [...]: we call it the network organization.\r\n<br>This resource path retrieves the internal version of the network organization in the database (each update of the network organization increase this version number)",
        "operationId": "799B24AE23FAB7E0D16E152BE9C0DD9CBD5D677522A15B559F81E46FAF631A28",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the network",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Version information about the organization",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkOrganizationInfoDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkOrganizationInfoDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkOrganizationInfoDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/network/organization/branch/{id}": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get an item (branch) of the database of devices and parameters (temporary or not) of a network",
        "description": "<br>A station is a hardware embedding at least one middleware.That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>Each network includes a collection of devices, infrastructure, has a list of parameters, a list of datapoints, [...]: we call it the \"network organization\".\r\n<br>The network organization is built has a standard hierarchic tree.\r\n<br>Querying the organization is done level by level.\r\n<br>When updating a network organization a temporary one is created and manipulated. Once the temporary organization is comitted it will become the newest.\r\n<br>This resource path retrieves an item (branch) in the hierarchic tree of the network organization (temporary or not)",
        "operationId": "AD6E8F92C9DB535B8753FD572306E7A3EDD15C8D0B5E600CB96FFF6B2FD144D1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the branch",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter on datapoints",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the branch matching id criteria",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/BranchDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/BranchDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/network/{id}/organization/rootbranchesinfo": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the root level of the database of devices and parameters of a network",
        "description": "<br>A station is a hardware embedding at least one middleware.That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>Each network includes a collection of devices, infrastructure, has a list of parameters, a list of datapoints, [...]: we call it the \"network organization\".\r\n<br>The network organization is built has a standard hierarchic tree.\r\n<br>Querying the organization is done level by level.",
        "operationId": "2F1A2217D60E4F442CB461D95588A92215C354F4059648A6EE543AE62DFC052C",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the network",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Optional filter on datapoints",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the root branch matching the network id",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BranchInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/deviceinstance": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get list of device instances available in the system or filtered by networkId and/or templateId",
        "operationId": "A08199057D9898BB7599FB73E095D8ACFE91FEA1FA8A135B3255B11E5D048103",
        "parameters": [
          {
            "name": "networkId",
            "in": "query",
            "description": "Id of the network you want the devices. null for all",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "templateId",
            "in": "query",
            "description": "Id of the device template you want the devices. null for all",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceInstanceInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceInstanceInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DeviceInstanceInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/deviceinstance/{id}": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get a device instance detail by id",
        "operationId": "F39664E3D19ED0B93015DBE8CC0E109B86FA4B9349FD9138088829A7E66AF419",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInstanceDTO"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInstanceDTO"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceInstanceDTO"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station/{id}/driver": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the list of available protocol driver in a specific Station",
        "description": "<br>A station is a hardware embeding at least a middleware.\r\n<br>That middleware may read several protocols.\r\n<br>Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): The networks.\r\n<br>That resource path sends back the entire protocols supported by the Station . That may be used to read data from fieldbus.\r\n<br>For more information on a driver use the resource path .../station/{stationId}/driver/get/{id} with the ID of the driver.",
        "operationId": "BC6BB98B45187099D40B16874A07ACE2A57A3EE53B2C27880C5B983712AFFECA",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the station",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of protocol driver definitions on the station.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DriverDescriptorInfoDTO"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DriverDescriptorInfoDTO"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/DriverDescriptorInfoDTO"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/ontology/station/{stationId}/driver/{id}": {
      "get": {
        "tags": [
          "Network organizations, drivers and protocols"
        ],
        "summary": "Get the detail of a specific protocol driver on a station",
        "description": "<br>A station is a hardware embeding at least a middleware.\r\n<br>That middleware may read several protocols. Each protocol has a unique driver (i.e KNX) and may have several fieldbus networks of that protocol (several networks and database of the same protocol): the networks.\r\n<br>Each fieldbus is accessible through a dedicated driver, this command retrieve the detail of a driver. \r\n<br>The driver detail contains the list of configuration values used to communicate with the fieldbus device of the protocol.\r\n<br>The list of configuration is dependant from the driver itself (ie: the configuration used for a ModBus communication is different from the configuration used for a BACNet communication.",
        "operationId": "4700A09AEEB89ADFD0A809F90F938FFA2B837013FB8EF3E5694BC1FFE6D8B200",
        "parameters": [
          {
            "name": "stationId",
            "in": "path",
            "description": "Unique identifier of the station",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Unique identifier of the driver",
            "required": true,
            "schema": {
              "type": "string"
            }
[...]
